body {
    margin: 0;
    background-color: #ebf8ff;
}
@font-face {
    font-family: phantom_sans;
    src: url(fonts/phantom_sans.ttf)
}

@font-face {
    font-family: genty_sans;
    src: url(fonts/genty_sans.ttf)
}

p, a, li, button {
    font-family: phantom_sans;
    color: #736c64;
}

h1, h2, h3 {
    font-family: genty_sans;
    color: #fbbeca;
    text-shadow: 4px 0 white, -4px 0 white, 0 4px white, 0 -4px white, 4px 4px white, -4px -4px white, -4px 4px white, 4px -4px white;
}

#header {
    position: sticky;
    z-index: 10;
    top: 0;
    background: #e3f0d1;
    padding: 10px 10px;
    height: fit-content;
    height: 150px;
    width: 100%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

#header img {
    float: left;
    height: 90%;
    margin: 10px;
    margin-right: 50px;
}

.img_container {
    margin-top: 50px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    z-index: 1;
}

.card {
    cursor: pointer;
    perspective: 1000px;
    width: 20vw;
    aspect-ratio: 3 / 4;
    display: inline-block;
    background-color: #ebf8ff;
}

.card_inner {
    border-radius: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: #daeac4;
    display: inline-block;
    position: relative;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    background-color: #fffdf4;
}

.card.flipped .card_inner {
  transform: rotateY(180deg);
}

.card_front,
.card_back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card_front img {
    width: 100%;
    object-fit: cover;
}

.card_back {
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
}

/* #buttons {
    display: flex;
    justify-content: center;
    margin: 20px;
}

button {
    padding: 10px;
    border-radius: 50px;
    border-width: 5px;
    border-color: #daeac4;
    border-style: solid;
    margin: 10px;
    margin-top: 30px;
    cursor: pointer;
    width: 20%;
    background-color: #fffdf4;
    font-size: large;
} 

*/